In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

ImportError: Unable to import required dependencies:
numpy: cannot import name randbits

In [3]:
df2 = pd.read_csv("~/Downloads/vitrata_domashne.csv")
df2

         Ім'я Категорія  Сума покупки   Місто Дата покупки
0     Наталія         A          1091    Київ   2025-04-17
1    Світлана         B          1213  Харків   2025-04-02
2     Людмила         C           989   Одеса   2025-04-26
3      Дмитро         B           280    Київ   2025-04-29
4       Олена         B           281   Львів   2025-04-08
..        ...       ...           ...     ...          ...
95      Артур         A          1083   Львів   2025-04-09
96   Світлана         A           528    Київ   2025-04-21
97      Петро         B          1278  Харків   2025-04-28
98  Владислав         B           463   Одеса   2025-04-22
99      Роман         A           296   Одеса   2025-04-05

[100 rows x 5 columns]