In [1]:
import pandas as pd
import duckdb

In [2]:
df1 = pd.read_csv('/Users/denistkachenko/Documents/AccountsSF.csv')
df2 = pd.read_csv('/Users/denistkachenko/Documents/cohort_monthly.csv')

In [3]:
df1.head()

,1-Month,3-Month,1-Year,2-Year
0,0013g0000071iaQAAQ,0013g00000jRlhFAAS,0013g00000jQfSPAA0,0013g00000jRS8EAAW
1,0013g00000OxSJzAAN,0013g00000jRlblAAC,0013g00000jRlpdAAC,0013g00000jQdvZAAS
2,0013g00000JVY9MAAX,0013g00000jRlZuAAK,0013g00000jQdzqAAC,0013g00000h94g0AAA
3,0013g00000Th4wLAAR,0013g00000jRlknAAC,0013g00000jQez8AAC,0013g00000bs2wuAAA
4,0013g00000XIQUnAAP,0013g00000jRlkEAAS,0013g00000bqezmAAA,0013g00000h9BJAAA2

In [4]:
df2.head()

,accountid,month_start,sub_type,sub_is_trial,sub_is_active,sub_start_date,status,cluster
0,0013g00000aQZkiAAG,2022-10-01,Monthly,False,True,2022-10-01,Active,Paid Pro Plan
1,0013g00000aQZl7AAG,2022-10-01,Yearly,False,True,2021-12-29,Pending Closure,Paid Pro Plan
2,0013g00000aQakNAAS,2022-10-01,Yearly,False,True,2021-12-30,Active,Paid Pro Plan
3,0013g00000aQbxzAAC,2022-10-01,Monthly,False,False,2022-06-01,Inactive,Involuntary Churned
4,0013g00000aQc42AAC,2022-10-01,Monthly,False,True,2022-10-01,Active,Paid Pro Plan

In [5]:
main = duckdb.query("""

Select a."1-Year",
    b.sub_type,
    b.accountid

from df1 as a
left join df2 as b on b.accountid = a."1-Year"
where b.sub_type != 'Yearly'

""").df()

main

               1-Year sub_type           accountid
0  0013g00000bqk51AAA   2-Year  0013g00000bqk51AAA
1  0013g00000BCfU2AAL  Monthly  0013g00000BCfU2AAL

In [6]:
main = duckdb.query("""

Select
    b.accountid,
    a."3-Month",
    b.sub_type
from df2 as b
left join df1 as a on b.accountid = a."3-Month"
where b.sub_type = '3-Month'
and b.cluster = 'Paid Pro Plan'
and a."3-Month" is null

""").df()

main

              accountid 3-Month sub_type
0    0013g00000BCWRmAAP     NaN  3-Month
1    0013g00000XIS6gAAH     NaN  3-Month
2    0013g00000brnPoAAI     NaN  3-Month
3    0013g00000bsx2aAAA     NaN  3-Month
4    0013g000008i8hpAAA     NaN  3-Month
..                  ...     ...      ...
379  0013g00000jRddFAAS     NaN  3-Month
380  0013g00000jRlIyAAK     NaN  3-Month
381  0013g00000jRmRRAA0     NaN  3-Month
382  0013g00000jRnLpAAK     NaN  3-Month
383  0013g00000jRnehAAC     NaN  3-Month

[384 rows x 3 columns]

In [7]:
main2 = duckdb.query("""

Select *
from df1 as a
where a."3-Month" = '0013g00000i3EMJAA2'
""").df()
main2

Empty DataFrame
Columns: [1-Month, 3-Month, 1-Year, 2-Year]
Index: []

In [8]:
main3 = duckdb.query("""

Select count(*)
from df2 as a
where a.sub_type = '3-Month'
and a.cluster = 'Paid Pro Plan'


""").df()
main3

   count_star()
0           900