In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

```python
import pandas as pd
import numpy as np
```

In [41]:
metadata = pd.read_csv("~/Downloads/archive/amazon_books_metadata.csv")

In [42]:
reviews = pd.read_csv("~/Downloads/archive/amazon_books_reviews.csv")

In [133]:
reviews.shape[0]

727876

# Complete Exploratory Data Analysis (EDA) on Book Metadata and Reviews



## 1. Initial Data Exploration

In [69]:
# Basic info about metadata dataset
print("METADATA DATASET")
print("="*50)
print(f"Shape: {metadata.shape}")
print(f"\nData types:\n{metadata.dtypes}")
print(f"\nMemory usage:\n{metadata.memory_usage(deep=True)}")

METADATA DATASET
==================================================
Shape: (20000, 28)

Data types:
title                       object
subtitle                    object
author_name                 object
author_about                object
publisher                   object
publisher_date              object
format                      object
page_count                 float64
language                    object
isbn_10                     object
isbn_13                     object
main_category               object
category_level_1_main       object
category_level_2_sub        object
category_level_3_detail     object
average_rating             float64
rating_number                int64
price                      float64
price_numeric              float64
description                 object
features_text               object
dimensions                  object
item_weight                 object
images                      object
videos                      object
store                       object
parent_asin                 object
bought_together            float64
dtype: object

Memory usage:
Index                            132
title                        2104787
subtitle                     2598513
author_name                  1419611
author_about                26220464
publisher                    1460878
publisher_date               1647733
format                       1168496
page_count                    160000
language                     1279340
isbn_10                      1278974
isbn_13                      1351711
main_category                1248659
category_level_1_main        1236460
category_level_2_sub         1536797
category_level_3_detail      1445655
average_rating                160000
rating_number                 160000
price                         160000
price_numeric                 160000
description                190801994
features_text               40140126
dimensions                   1516561
item_weight                  1295221
images                       3002902
videos                       1574286
store                        1830122
parent_asin                  1340000
bought_together               160000
dtype: int64

In [70]:
# Basic info about reviews dataset
print("REVIEWS DATASET")
print("="*50)
print(f"Shape: {reviews.shape}")
print(f"\nData types:\n{reviews.dtypes}")
print(f"\nMemory usage:\n{reviews.memory_usage(deep=True)}")

REVIEWS DATASET
==================================================
Shape: (727876, 12)

Data types:
rating               float64
title                 object
text                  object
images                object
asin                  object
parent_asin           object
user_id               object
timestamp              int64
helpful_vote           int64
verified_purchase       bool
date                  object
year                   int64
dtype: object

Memory usage:
Index                      132
rating                 5823008
title                 60243452
text                 410721939
images                47858377
asin                  48767692
parent_asin           48767692
user_id               61870442
timestamp              5823008
helpful_vote           5823008
verified_purchase       727876
date                  58230080
year                   5823008
dtype: int64

In [71]:
# First few rows
metadata.head()

,title,subtitle,author_name,author_about,publisher,publisher_date,format,page_count,language,isbn_10,...,price_numeric,description,features_text,dimensions,item_weight,images,videos,store,parent_asin,bought_together
0,Government Bullies: How Everyday Americans are...,"Paperback – August 6, 2013",Rand Paul,"Discover more of the author’s books, see simil...",Center Street,"41260th edition (August 6, 2013",Paperback,320.0,English,1455522775,...,12.99,"['Review', 'Praise for The Tea Party Goes to W...",Government regulations are out of control. The...,5.25 x 0.81 x 8 inches,9.2 ounces,[{'large': 'https://m.media-amazon.com/images/...,[],"Rand Paul (Author), Ron Paul (Foreword)",1455522775,NaN
1,Gordon Pope Thrillers: Books 1-3,"Paperback – December 17, 2020",B. B. Griffith,"B. B. Griffith was born and raised in Denver, ...",Griffith Publishing LLC,"December 17, 2020",Paperback,694.0,English,1735305855,...,24.69,"['Review', 'Selected Reviews from the Gordon P...",Gordon Pope has a special talent. | He's the o...,6 x 1.74 x 9 inches,2.21 pounds,[{'large': 'https://m.media-amazon.com/images/...,[],B. B. Griffith (Author),1735305855,NaN
2,Chart Sense: Common Sense Charts to Teach 3-8 ...,"Paperback – Illustrated, February 2, 2014",Rozlyn Linder,Follow Roz on Twitter (@rozlinder) and connect...,"Literacy Initiative, The","Illustrated edition (February 2, 2014",Paperback,182.0,English,0988950510,...,22.88,"['Review', ""This is the first book I have ever...",Chart Sense is the ultimate resource for eleme...,7.5 x 0.41 x 9.25 inches,12 ounces,[],[],Rozlyn Linder (Author),0988950510,NaN
3,Where the Sky Begins: A Novel,"Paperback – August 2, 2022",Rhys Bowen,Rhys Bowen is the New York Times bestselling a...,Lake Union Publishing,"August 2, 2022",Paperback,399.0,English,1542028841,...,6.15,"['Review', '“Bowen is a master at winning read...",A woman’s future is determined by fate and cho...,5.5 x 1 x 8.25 inches,14.1 ounces,[],[],Rhys Bowen (Author),1542028841,NaN
4,The Mystery of Garabandal: Fantasy or Fraud? G...,NaN,LR Walker,"Discover more of the author’s books, see simil...",Newtonia Publishing LLC,"First Paperback Edition (July 31, 2015",Paperback,299.0,English,0692297677,...,12.99,"['About the Author', ""LR Walker studied journa...",This 2021 update includes new interviews with ...,6 x 0.68 x 9 inches,14.3 ounces,[{'large': 'https://m.media-amazon.com/images/...,[],"LR Walker (Author), Frank Lafleur (Introduction)",0692297677,NaN

In [89]:
reviews.head()
a = reviews['rating'].std()
print (a)

1.0522744669145878

In [72]:
# Statistical summary for numerical columns
metadata.describe()

,page_count,average_rating,rating_number,price,price_numeric,bought_together
count,15544.000000,20000.000000,20000.000000,20000.000000,20000.000000,0.0
mean,330.958312,4.466935,2488.503550,18.782429,18.782429,NaN
std,224.197156,0.255960,7772.758403,85.824619,85.824619,NaN
min,0.000000,2.500000,200.000000,5.010000,5.010000,NaN
25%,224.000000,4.300000,333.000000,9.990000,9.990000,NaN
50%,312.000000,4.500000,651.000000,13.990000,13.990000,NaN
75%,386.000000,4.700000,1734.000000,18.950000,18.950000,NaN
max,9998.000000,5.000000,278592.000000,11568.310000,11568.310000,NaN

In [75]:
reviews.describe()

              rating     timestamp   helpful_vote           year
count  727876.000000  7.278760e+05  727876.000000  727876.000000
mean        4.417915  1.455230e+12       1.964884    2015.624054
std         1.052274  1.369102e+11      15.652134       4.350246
min         1.000000  8.663235e+11       0.000000    1997.000000
25%         4.000000  1.391852e+12       0.000000    2014.000000
50%         5.000000  1.462470e+12       0.000000    2016.000000
75%         5.000000  1.551893e+12       1.000000    2019.000000
max         5.000000  1.694645e+12    2881.000000    2023.000000

## 2. Missing Values Analysis

In [76]:
# Missing values count and percentage
metadata_missing = pd.DataFrame({
    'missing_count': metadata.isnull().sum(),
    'missing_percentage': (metadata.isnull().sum() / len(metadata) * 100).round(2)
})
metadata_missing = metadata_missing[metadata_missing['missing_count'] > 0].sort_values('missing_count', ascending=False)
print("METADATA Missing Values:")
print(metadata_missing)

METADATA Missing Values:
                         missing_count  missing_percentage
bought_together                  20000              100.00
format                            4456               22.28
page_count                        4456               22.28
isbn_10                           1858                9.29
isbn_13                           1751                8.76
dimensions                        1561                7.80
item_weight                       1451                7.26
subtitle                          1400                7.00
category_level_3_detail            302                1.51
publisher_date                     161                0.80
category_level_1_main              118                0.59
category_level_2_sub               118                0.59
publisher                           55                0.27
features_text                       33                0.16
store                               30                0.15
language                            25                0.12

In [77]:
reviews_missing = pd.DataFrame({
    'missing_count': reviews.isnull().sum(),
    'missing_percentage': (reviews.isnull().sum() / len(reviews) * 100).round(2)
})
reviews_missing = reviews_missing[reviews_missing['missing_count'] > 0].sort_values('missing_count', ascending=False)
print("REVIEWS Missing Values:")
print(reviews_missing)

REVIEWS Missing Values:
       missing_count  missing_percentage
text             112                0.02
title             94                0.01

## 3. NumPy Operations & Statistics

In [78]:
# NumPy operations on price data
prices = metadata['price_numeric'].dropna().values

print("Price Statistics using NumPy:")
print(f"Mean: ${np.mean(prices):.2f}")
print(f"Median: ${np.median(prices):.2f}")
print(f"Std Dev: ${np.std(prices):.2f}")
print(f"Min: ${np.min(prices):.2f}")
print(f"Max: ${np.max(prices):.2f}")
print(f"25th percentile: ${np.percentile(prices, 25):.2f}")
print(f"75th percentile: ${np.percentile(prices, 75):.2f}")
print(f"IQR: ${np.percentile(prices, 75) - np.percentile(prices, 25):.2f}")

Price Statistics using NumPy:
Mean: $18.78
Median: $13.99
Std Dev: $85.82
Min: $5.01
Max: $11568.31
25th percentile: $9.99
75th percentile: $18.95
IQR: $8.96

In [53]:
# NumPy array operations on page counts
page_counts = metadata['page_count'].dropna().values

print("Page Count Statistics:")
print(f"Total pages across all books: {np.sum(page_counts):,.0f}")
print(f"Average pages: {np.mean(page_counts):.0f}")
print(f"Books with > 500 pages: {np.sum(page_counts > 500)}")
print(f"Books with < 100 pages: {np.sum(page_counts < 100)}")
print(f"Correlation between price and pages: {np.corrcoef(metadata['price_numeric'].dropna(), metadata.loc[metadata['price_numeric'].notna(), 'page_count'].dropna())[0,1]:.3f}")

Page Count Statistics:
Total pages across all books: 5,144,416
Average pages: 331
Books with > 500 pages: 1547
Books with < 100 pages: 1046

ValueError: all the input array dimensions except for the concatenation axis must match exactly, but along dimension 1, the array at index 0 has size 20000 and the array at index 1 has size 15544

In [91]:
# NumPy operations on review ratings
ratings = reviews['rating'].dropna().values

print("Rating Statistics using NumPy:")
print(f"Mean rating: {np.mean(ratings):.2f}")
print(f"Median rating: {np.median(ratings):.1f}")
print(f"Mode (most common): {np.bincount(ratings.astype(int)).argmax()}")
print(f"Std Dev: {np.std(ratings):.2f}")
print(f"5-star reviews: {np.sum(ratings == 5)} ({np.sum(ratings == 5)/len(ratings)*100:.1f}%)")
print(f"1-star reviews: {np.sum(ratings == 1)} ({np.sum(ratings == 1)/len(ratings)*100:.1f}%)")

4.42
Rating Statistics using NumPy:
Mean rating: 4.42
Median rating: 5.0
Mode (most common): 5
Std Dev: 1.05
5-star reviews: 501702 (68.9%)
1-star reviews: 29554 (4.1%)

## 4. Data Cleaning

In [106]:
# Create cleaned copies
metadata_clean = metadata.copy()
reviews_clean = reviews.copy()

print(f"Original metadata shape: {metadata.shape}")
print(f"Original reviews shape: {reviews.shape}")

Original metadata shape: (20000, 28)
Original reviews shape: (727876, 12)

In [107]:
# Drop columns with too many missing values (>70%)
threshold = 0.7
metadata_clean = metadata_clean.loc[:, metadata_clean.isnull().mean() < threshold]
print(f"Columns after dropping high-missing columns: {metadata_clean.shape[1]}")
print(f"Dropped columns: {set(metadata.columns) - set(metadata_clean.columns)}")

Columns after dropping high-missing columns: 27
Dropped columns: {'bought_together'}

In [108]:
# Fill missing numerical values with median
metadata_clean['price_numeric'].fillna(metadata_clean['price_numeric'].median(), inplace=True)
metadata_clean['page_count'].fillna(metadata_clean['page_count'].median(), inplace=True)

# Fill categorical with mode or 'Unknown'
metadata_clean['language'].fillna('Unknown', inplace=True)
metadata_clean['format'].fillna('Unknown', inplace=True)

print("Missing values after cleaning:")
print(metadata_clean.isnull().sum()[metadata_clean.isnull().sum() > 0])

Missing values after cleaning:
subtitle                   1400
publisher                    55
publisher_date              161
isbn_10                    1858
isbn_13                    1751
category_level_1_main       118
category_level_2_sub        118
category_level_3_detail     302
features_text                33
dimensions                 1561
item_weight                1451
store                        30
dtype: int64

/var/folders/1w/5fknmcjj7_g7sfbf2lffwy1h0000gn/T/ipykernel_68347/2274186919.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  metadata_clean['price_numeric'].fillna(metadata_clean['price_numeric'].median(), inplace=True)
/var/folders/1w/5fknmcjj7_g7sfbf2lffwy1h0000gn/T/ipykernel_68347/2274186919.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  metadata_clean['page_count'].fillna(metadata_clean['page_count'].median(), inplace=True)
/var/folders/1w/5fknmcjj7_g7sfbf2lffwy1h0000gn/T/ipykernel_68347/2274186919.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  metadata_clean['language'].fillna('Unknown', inplace=True)
/var/folders/1w/5fknmcjj7_g7sfbf2lffwy1h0000gn/T/ipykernel_68347/2274186919.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  metadata_clean['format'].fillna('Unknown', inplace=True)

In [109]:
# Remove duplicates
print(f"Duplicate rows in metadata: {metadata_clean.duplicated().sum()}")
print(f"Duplicate rows in reviews: {reviews_clean.duplicated().sum()}")

metadata_clean.drop_duplicates(inplace=True)
reviews_clean.drop_duplicates(inplace=True)

print(f"\nAfter removing duplicates:")
print(f"Metadata shape: {metadata_clean.shape}")
print(f"Reviews shape: {reviews_clean.shape}")

Duplicate rows in metadata: 0
Duplicate rows in reviews: 7860

After removing duplicates:
Metadata shape: (20000, 27)
Reviews shape: (720016, 12)

In [110]:
# Handle outliers using IQR method for price
Q1 = metadata_clean['price_numeric'].quantile(0.25)
Q3 = metadata_clean['price_numeric'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = metadata_clean[(metadata_clean['price_numeric'] < lower_bound) | 
                          (metadata_clean['price_numeric'] > upper_bound)]
print(f"Price outliers detected: {len(outliers)}")
print(f"Price range after outlier detection: ${lower_bound:.2f} to ${upper_bound:.2f}")

# Cap outliers instead of removing
metadata_clean['price_clean'] = metadata_clean['price_numeric'].clip(lower_bound, upper_bound)

Price outliers detected: 1563
Price range after outlier detection: $-3.45 to $32.39

In [113]:
metadata_clean['price_clean'].describe()

count    20000.000000
mean        15.555715
std          7.415706
min          5.010000
25%          9.990000
50%         13.990000
75%         18.950000
max         32.390000
Name: price_clean, dtype: float64

In [114]:
metadata_clean['price_numeric'].describe()

count    20000.000000
mean        18.782429
std         85.824619
min          5.010000
25%          9.990000
50%         13.990000
75%         18.950000
max      11568.310000
Name: price_numeric, dtype: float64

## 5. Feature Engineering & Transformations

In [115]:
# Create price categories
metadata_clean['price_category'] = pd.cut(metadata_clean['price_numeric'], 
                                           bins=[0, 10, 20, 30, float('inf')],
                                           labels=['Budget', 'Mid-range', 'Premium', 'Luxury'])

# Create page count categories
metadata_clean['length_category'] = pd.cut(metadata_clean['page_count'],
                                           bins=[0, 200, 400, 600, float('inf')],
                                           labels=['Short', 'Medium', 'Long', 'Very Long'])

print(metadata_clean[['title', 'price_numeric', 'price_category', 'page_count', 'length_category']].head(10))

                                               title  price_numeric  \
0  Government Bullies: How Everyday Americans are...          12.99
1                   Gordon Pope Thrillers: Books 1-3          24.69
2  Chart Sense: Common Sense Charts to Teach 3-8 ...          22.88
3                      Where the Sky Begins: A Novel           6.15
4  The Mystery of Garabandal: Fantasy or Fraud? G...          12.99
5    Ahab's Wife: Or, The Star-gazer: A Novel (P.S.)           6.78
6  Murder Spins a Tale: A Flock and Fiber Mystery...          14.00
7  Despierta el genio financiero de tus hijos / W...          17.99
8               Daylight (An Atlee Pine Thriller, 3)           7.48
9  The War of the Ember (Guardians of Ga'hoole, B...           6.99

  price_category  page_count length_category
0      Mid-range       320.0          Medium
1        Premium       694.0       Very Long
2        Premium       182.0           Short
3         Budget       399.0          Medium
4      Mid-range       299.0          Medium
5         Budget       668.0       Very Long
6      Mid-range       272.0          Medium
7      Mid-range       480.0            Long
8         Budget       312.0          Medium
9         Budget       256.0          Medium

In [117]:
# Calculate price per page
metadata_clean['price_per_page'] = np.round(metadata_clean['price_numeric'] / metadata_clean['page_count'], 4)

print("Price per page statistics:")
print(metadata_clean['price_per_page'].describe())

Price per page statistics:
count    20000.0000
mean            inf
std             NaN
min          0.0031
25%          0.0320
50%          0.0459
75%          0.0710
max             inf
Name: price_per_page, dtype: float64

/Users/denistkachenko/anaconda3/envs/Main/lib/python3.11/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)

In [118]:
# Extract title length
metadata_clean['title_length'] = metadata_clean['title'].str.len()

# Check if subtitle exists
metadata_clean['has_subtitle'] = metadata_clean['subtitle'].notna().astype(int)

print(f"Books with subtitles: {metadata_clean['has_subtitle'].sum()}")
print(f"Average title length: {metadata_clean['title_length'].mean():.1f} characters")

Books with subtitles: 18600
Average title length: 47.2 characters

## 6. Groupby & Aggregations

In [119]:
metadata_clean

,title,subtitle,author_name,author_about,publisher,publisher_date,format,page_count,language,isbn_10,...,images,videos,store,parent_asin,price_clean,price_category,length_category,price_per_page,title_length,has_subtitle
0,Government Bullies: How Everyday Americans are...,"Paperback – August 6, 2013",Rand Paul,"Discover more of the author’s books, see simil...",Center Street,"41260th edition (August 6, 2013",Paperback,320.0,English,1455522775,...,[{'large': 'https://m.media-amazon.com/images/...,[],"Rand Paul (Author), Ron Paul (Foreword)",1455522775,12.99,Mid-range,Medium,0.0406,97,1
1,Gordon Pope Thrillers: Books 1-3,"Paperback – December 17, 2020",B. B. Griffith,"B. B. Griffith was born and raised in Denver, ...",Griffith Publishing LLC,"December 17, 2020",Paperback,694.0,English,1735305855,...,[{'large': 'https://m.media-amazon.com/images/...,[],B. B. Griffith (Author),1735305855,24.69,Premium,Very Long,0.0356,32,1
2,Chart Sense: Common Sense Charts to Teach 3-8 ...,"Paperback – Illustrated, February 2, 2014",Rozlyn Linder,Follow Roz on Twitter (@rozlinder) and connect...,"Literacy Initiative, The","Illustrated edition (February 2, 2014",Paperback,182.0,English,0988950510,...,[],[],Rozlyn Linder (Author),0988950510,22.88,Premium,Short,0.1257,79,1
3,Where the Sky Begins: A Novel,"Paperback – August 2, 2022",Rhys Bowen,Rhys Bowen is the New York Times bestselling a...,Lake Union Publishing,"August 2, 2022",Paperback,399.0,English,1542028841,...,[],[],Rhys Bowen (Author),1542028841,6.15,Budget,Medium,0.0154,29,1
4,The Mystery of Garabandal: Fantasy or Fraud? G...,NaN,LR Walker,"Discover more of the author’s books, see simil...",Newtonia Publishing LLC,"First Paperback Edition (July 31, 2015",Paperback,299.0,English,0692297677,...,[{'large': 'https://m.media-amazon.com/images/...,[],"LR Walker (Author), Frank Lafleur (Introduction)",0692297677,12.99,Mid-range,Medium,0.0434,58,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,The Prayer of the Lord,"Hardcover – May 26, 2009",R. C. Sproul,Dr. R.C. Sproul (1939–2017) was founder of Lig...,Reformation Trust Publishing,"May 26, 2009",Hardcover,130.0,English,1567691188,...,[{'large': 'https://m.media-amazon.com/images/...,[],R.C. Sproul (Author),1567691188,18.67,Mid-range,Short,0.1436,22,1
19996,A Christmas Carol,"Hardcover – September 3, 2012",Robert Ingpen,"Robert Ingpen was born in 1936 in Geelong, Aus...",Chartwell Books,"Reprint edition (September 3, 2012",Hardcover,128.0,English,0785829466,...,[{'large': 'https://m.media-amazon.com/images/...,[],"Charles Dickens (Author), Arthur Rackham (Ill...",0785829466,6.90,Budget,Short,0.0539,17,1
19997,An Irish Christmas,NaN,Melody Carlson,Melody Carlson has written more than 200 books...,Revell,"September 1, 2007",Hardcover,192.0,English,NaN,...,[{'large': 'https://m.media-amazon.com/images/...,[],Melody Carlson (Author),B002SB8NQ2,29.80,Premium,Short,0.1552,18,0
19998,Darcy and Elizabeth: Hope of the Future (Darcy...,"Paperback – August 10, 2017",Sharon Lathan,SHARON LATHAN is the best-selling author of TH...,Sharon Lathan,"1st edition (August 10, 2017",Paperback,370.0,English,0991610628,...,[{'large': 'https://m.media-amazon.com/images/...,[],"Sharon Lathan (Author), Gretchen Stelter (Edi...",0991610628,13.25,Mid-range,Medium,0.0358,64,1
19999,Innocent Secretary...Accidentally Pregnant: A ...,"Mass Market Paperback – September 28, 2010",Carol Marinelli,Carol Marinelli was born in England to Scottis...,Harlequin Presents,"Original edition (September 28, 2010",Unknown,312.0,English,0373129475,...,[{'large': 'https://m.media-amazon.com/images/...,[],Carol Marinelli (Author),0373129475,5.49,Budget,Medium,0.0176,76,1

In [54]:
# Group by language
language_stats = metadata_clean.groupby('language').agg({
    'title': 'count',
    'price_numeric': ['mean', 'median'],
    'page_count': 'mean'
}).round(2)

language_stats.columns = ['book_count', 'avg_price', 'median_price', 'avg_pages']
language_stats = language_stats.sort_values('book_count', ascending=False).head(10)
print("Top 10 Languages:")
print(language_stats)

Top 10 Languages:
                   book_count  avg_price  median_price  avg_pages
language
English                 19485      18.66         13.99     326.49
Spanish                   372      24.18         16.95     349.40
French                     89      18.43         14.60     303.71
Unknown                    25      28.88         20.00     286.56
English, Spanish            5      11.55          9.99     286.00
German                      3     109.99         16.03     142.00
Multilingual                3      22.49         21.99     641.00
English, Japanese           2      16.55         16.55     576.00
Spanish, English            2      14.12         14.12     352.00
English, French             2      13.34         13.34     436.00

In [128]:
language_stats

                   book_count  avg_price  median_price  avg_pages
language
English                 19485      18.66         13.99     326.49
Spanish                   372      24.18         16.95     349.40
French                     89      18.43         14.60     303.71
Unknown                    25      28.88         20.00     286.56
English, Spanish            5      11.55          9.99     286.00
German                      3     109.99         16.03     142.00
Multilingual                3      22.49         21.99     641.00
English, Japanese           2      16.55         16.55     576.00
Spanish, English            2      14.12         14.12     352.00
English, French             2      13.34         13.34     436.00

In [120]:
# Group by format
format_stats = metadata_clean.groupby('format').agg({
    'price_numeric': ['mean', 'min', 'max'],
    'page_count': 'mean',
    'title': 'count'
}).round(2)

format_stats.columns = ['avg_price', 'min_price', 'max_price', 'avg_pages', 'count']
format_stats = format_stats.sort_values('count', ascending=False)
print("Statistics by Format:")
print(format_stats.head(10))

Statistics by Format:
           avg_price  min_price  max_price  avg_pages  count
format
Paperback      16.42       5.01     990.00     327.83   9901
Hardcover      23.43       5.02    1599.97     336.44   5643
Unknown        18.14       5.01   11568.31     312.00   4456

In [121]:
# Group by publisher - top publishers
publisher_stats = metadata_clean.groupby('publisher').agg({
    'title': 'count',
    'price_numeric': 'mean',
    'page_count': 'mean'
}).round(2)

publisher_stats.columns = ['books_published', 'avg_price', 'avg_pages']
publisher_stats = publisher_stats.sort_values('books_published', ascending=False).head(15)
print("Top 15 Publishers:")
print(publisher_stats)

Top 15 Publishers:
                                             books_published  avg_price  \
publisher
CreateSpace Independent Publishing Platform              738      15.06
Berkley                                                  338      12.36
Independently published                                  220      16.39
Ballantine Books                                         205      13.64
HarperCollins                                            204      14.03
Grand Central Publishing                                 199      14.35
Simon & Schuster                                         183      18.00
Brilliance Audio                                         170      16.87
Penguin Books                                            168      14.09
Bantam                                                   159      14.02
Vintage                                                  148      14.16
Minotaur Books                                           147      19.16
Harper                                                   143      16.40
VIZ Media LLC                                            132      12.78
Gallery Books                                            131      15.90

                                             avg_pages
publisher
CreateSpace Independent Publishing Platform     273.39
Berkley                                         341.74
Independently published                         282.40
Ballantine Books                                354.81
HarperCollins                                   280.24
Grand Central Publishing                        372.52
Simon & Schuster                                375.34
Brilliance Audio                                312.00
Penguin Books                                   356.28
Bantam                                          347.13
Vintage                                         361.51
Minotaur Books                                  328.41
Harper                                          354.01
VIZ Media LLC                                   275.02
Gallery Books                                   365.70

In [122]:
# Multiple groupby - price category and format
price_format_stats = metadata_clean.groupby(['price_category', 'format']).agg({
    'title': 'count',
    'page_count': 'mean'
}).round(0)

price_format_stats.columns = ['count', 'avg_pages']
price_format_stats = price_format_stats[price_format_stats['count'] > 50].sort_values('count', ascending=False)
print("Books by Price Category and Format (showing groups with >50 books):")
print(price_format_stats.head(20))

Books by Price Category and Format (showing groups with >50 books):
                          count  avg_pages
price_category format
Mid-range      Paperback   6085      328.0
               Hardcover   2728      300.0
Budget         Paperback   2467      275.0
               Unknown     2300      312.0
Mid-range      Unknown     1442      312.0
Premium        Hardcover   1184      372.0
Luxury         Hardcover    896      457.0
Premium        Paperback    841      402.0
Budget         Hardcover    835      275.0
Luxury         Paperback    508      467.0
Premium        Unknown      376      312.0
Luxury         Unknown      338      312.0

/var/folders/1w/5fknmcjj7_g7sfbf2lffwy1h0000gn/T/ipykernel_68347/790756365.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  price_format_stats = metadata_clean.groupby(['price_category', 'format']).agg({

## 7. Joining/Merging DataFrames

In [30]:
# Check common columns for joining
print("Metadata columns:", metadata_clean.columns.tolist()[:5])
print("Reviews columns:", reviews_clean.columns.tolist())

# Check if parent_asin is the join key
print(f"\nUnique parent_asin in metadata: {metadata_clean['parent_asin'].nunique()}")
print(f"Unique parent_asin in reviews: {reviews_clean['parent_asin'].nunique()}")

Metadata columns: ['title', 'subtitle', 'author_name', 'author_about', 'publisher']
Reviews columns: ['rating', 'title', 'text', 'images', 'asin', 'parent_asin', 'user_id', 'timestamp', 'helpful_vote', 'verified_purchase', 'date', 'year']

Unique parent_asin in metadata: 20000
Unique parent_asin in reviews: 19991

In [123]:
# INNER JOIN - only books with reviews
books_with_reviews = pd.merge(metadata_clean, reviews_clean, 
                               on='parent_asin', 
                               how='inner',
                               suffixes=('_book', '_review'))

print(f"Inner join result: {books_with_reviews.shape}")
print(f"Columns: {books_with_reviews.columns.tolist()[:10]}...")

Inner join result: (720016, 44)
Columns: ['title_book', 'subtitle', 'author_name', 'author_about', 'publisher', 'publisher_date', 'format', 'page_count', 'language', 'isbn_10']...

In [32]:
# LEFT JOIN - all books, with reviews where available
all_books = pd.merge(metadata_clean, reviews_clean,
                     on='parent_asin',
                     how='left',
                     suffixes=('_book', '_review'))

print(f"Left join result: {all_books.shape}")
print(f"Books without reviews: {all_books['rating'].isna().sum()}")

Left join result: (720025, 43)
Books without reviews: 9

In [33]:
# OUTER JOIN - all books and all reviews
full_data = pd.merge(metadata_clean, reviews_clean,
                     on='parent_asin',
                     how='outer',
                     suffixes=('_book', '_review'))

print(f"Outer join result: {full_data.shape}")
print(f"Books without reviews: {full_data['title'].isna().sum()}")
print(f"Reviews without book metadata: {full_data['rating'].isna().sum()}")

Outer join result: (720025, 43)

KeyError: 'title'

In [125]:
# Aggregate reviews per book
review_aggregates = reviews_clean.groupby('parent_asin').agg({
    'rating': ['mean', 'count', 'std'],
    'helpful_vote': 'sum',
    'verified_purchase': 'sum'
}).round(2)

review_aggregates.columns = ['avg_rating', 'review_count', 'rating_std', 'total_helpful_votes', 'verified_purchases']
review_aggregates = review_aggregates.reset_index()

print("Review aggregates shape:", review_aggregates.shape)
print(review_aggregates.head())

Review aggregates shape: (19991, 6)
  parent_asin  avg_rating  review_count  rating_std  total_helpful_votes  \
0  0006135129        4.65            23        0.98                   19
1  0006151353        4.67             3        0.58                    1
2  0006158110        4.00             5        1.00                    9
3  0006473113        4.87            15        0.35                   14
4  0006479901        4.29             7        1.50                   16

   verified_purchases
0                  17
1                   1
2                   1
3                  11
4                   5

In [126]:
# Join aggregated reviews with metadata
books_with_ratings = pd.merge(metadata_clean, review_aggregates,
                              on='parent_asin',
                              how='left')

# Fill NaN for books with no reviews
books_with_ratings['review_count'].fillna(0, inplace=True)
books_with_ratings['avg_rating'].fillna(0, inplace=True)

print(f"Books with ratings shape: {books_with_ratings.shape}")
print(books_with_ratings[['title', 'author_name', 'price_numeric', 'avg_rating', 'review_count']].head(10))

Books with ratings shape: (20000, 38)
                                               title         author_name  \
0  Government Bullies: How Everyday Americans are...           Rand Paul
1                   Gordon Pope Thrillers: Books 1-3      B. B. Griffith
2  Chart Sense: Common Sense Charts to Teach 3-8 ...       Rozlyn Linder
3                      Where the Sky Begins: A Novel          Rhys Bowen
4  The Mystery of Garabandal: Fantasy or Fraud? G...           LR Walker
5    Ahab's Wife: Or, The Star-gazer: A Novel (P.S.)  Sena Jeter Naslund
6  Murder Spins a Tale: A Flock and Fiber Mystery...     Veryl Ann Grace
7  Despierta el genio financiero de tus hijos / W...  Robert T. Kiyosaki
8               Daylight (An Atlee Pine Thriller, 3)      David Baldacci
9  The War of the Ember (Guardians of Ga'hoole, B...       Kathryn Lasky

   price_numeric  avg_rating  review_count
0          12.99        4.56           9.0
1          24.69        4.17           6.0
2          22.88        4.80          66.0
3           6.15        4.55          31.0
4          12.99        5.00           2.0
5           6.78        3.75          20.0
6          14.00        4.45          20.0
7          17.99        5.00           3.0
8           7.48        5.00           2.0
9           6.99        4.60          40.0

/var/folders/1w/5fknmcjj7_g7sfbf2lffwy1h0000gn/T/ipykernel_68347/2476193474.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  books_with_ratings['review_count'].fillna(0, inplace=True)
/var/folders/1w/5fknmcjj7_g7sfbf2lffwy1h0000gn/T/ipykernel_68347/2476193474.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  books_with_ratings['avg_rating'].fillna(0, inplace=True)

## 8. Advanced Analysis on Merged Data

In [37]:
# Top rated books with significant reviews (>10)
top_rated = books_with_ratings[books_with_ratings['review_count'] > 10].nlargest(20, 'avg_rating')
print("Top 20 Rated Books (with >10 reviews):")
print(top_rated[['title', 'author_name', 'avg_rating', 'review_count', 'price_numeric']])

Top 20 Rated Books (with >10 reviews):
                                                  title           author_name  \
10    Do Your Happy Dance!: Celebrate Wonderful You ...     Charles M. Schulz
56    Shibori: The Inventive Art of Japanese Shaped ...  Yoshiko Iwamoto Wada
299   Stepping Heavenward: One Woman's Journey to Go...           E. Prentiss
371                                Faking It (It Girls)      Leah Marie Brown
425    The Bookman's Wake: A Mystery With Cliff Janeway          John Dunning
449                          Coraline (Spanish Edition)           Neil Gaiman
525   Justice for All: How the Left Is Wrong About L...            Greg Kelly
1115                                       Paletero Man          Micah Player
1141                     Pucked Off (The Pucked Series)        Helena Hunting
1183               Windswept (The Mapweaver Chronicles)       Kaitlin Bellamy
1300  The Joy of Watercolor: 40 Happy Lessons for Pa...            Emma Block
1309       The Last Kids on Earth and the Doomsday Race          Max Brallier
1418    Sugar, Gummi and Lollipop (The Puppy Place #40)           Ellen Miles
1440  Learning First, Technology Second: The Educato...              Liz Kolb
1591  Horseshoes and Hand Grenades: Tales from the O...            Paul Miles
2074  The Plum Blooms in Winter: Inspired by a Gripp...        Linda Thompson
2092  Found (House of Night Other World series, Book...            P. C. Cast
2124  The Cannabis Encyclopedia: The Definitive Guid...       Jorge Cervantes
2287                  Away from the Dark (The Light, 2)         Aleatha Romig
2333  Great Horse Stories for Girls: Inspiring Tales...      Rebecca E. Ondov

      avg_rating  review_count  price_numeric
10           5.0          37.0           7.99
56           5.0          18.0          16.45
299          5.0          35.0          16.28
371          5.0          12.0          10.69
425          5.0          11.0          23.60
449          5.0          13.0          12.95
525          5.0          26.0          21.49
1115         5.0          20.0          12.69
1141         5.0          24.0          32.00
1183         5.0          11.0          13.99
1300         5.0          20.0          15.39
1309         5.0          33.0           9.49
1418         5.0          24.0           5.99
1440         5.0          16.0          26.26
1591         5.0          16.0          22.99
2074         5.0          16.0          13.99
2092         5.0          36.0          10.89
2124         5.0          27.0          58.99
2287         5.0          11.0          11.52
2333         5.0          18.0          11.99

In [38]:
# Most reviewed books
most_reviewed = books_with_ratings.nlargest(20, 'review_count')
print("Top 20 Most Reviewed Books:")
print(most_reviewed[['title', 'author_name', 'review_count', 'avg_rating', 'price_numeric']])

Top 20 Most Reviewed Books:
                                                   title       author_name  \
10438       Sycamore Row: A Novel (Jake Brigance Book 2)      John Grisham
10036                              Rogue Lawyer: A Novel      John Grisham
2194   The Book of Life: A Novel (All Souls Trilogy, ...  Deborah Harkness
8574      The Burning Room (A Harry Bosch Novel Book 17)  Michael Connelly
4012                           The Hunger Games (Book 1)   Suzanne Collins
17781  The Step-by-Step Instant Pot Cookbook: 100 Sim...    Jeffrey Eisner
6049              The Art of Racing in the Rain: A Novel       Garth Stein
2799             Career of Evil (Cormoran Strike Book 3)  Robert Galbraith
8854                           Press Here (Herve Tullet)      Herve Tullet
9849                        Water for Elephants: A Novel        Sara Gruen
8286                   Skin Game (Dresden Files Book 15)       Jim Butcher
2944                 Killing Kennedy: The End of Camelot     Martin Dugard
6917                  The Hunger Games Trilogy Boxed Set   Suzanne Collins
16510  Lost Ocean: An Inky Adventure and Coloring Boo...   Johanna Basford
19446  The Guernsey Literary and Potato Peel Pie Society     Annie Barrows
13687                   The Lost Symbol (Robert Langdon)         Dan Brown
2846                                  Alexander Hamilton       Ron Chernow
9803                                   Room on the Broom   Julia Donaldson
2665   Joshua Weissman: An Unapologetic Cookbook. #1 ...   Joshua Weissman
6008          The Black Ice (A Harry Bosch Novel Book 2)  Michael Connelly

       review_count  avg_rating  price_numeric
10438       14752.0        4.49           9.99
10036        7720.0        3.99           9.99
2194         4464.0        4.63          12.99
8574         4194.0        4.39          11.99
4012         3100.0        4.48           8.99
17781        2835.0        4.80          13.45
6049         2490.0        4.63          10.86
2799         2308.0        4.47          10.99
8854         2124.0        4.75          11.77
9849         2009.0        4.29           8.39
8286         1979.0        4.83           9.99
2944         1858.0        4.32           7.08
6917         1807.0        4.76          54.95
16510        1684.0        4.61          14.95
19446        1684.0        4.52          10.75
13687        1656.0        3.07           9.91
2846         1586.0        4.64          12.64
9803         1441.0        4.86           7.19
2665         1435.0        4.74          15.69
6008         1425.0        4.54           9.99

In [39]:
# Correlation analysis
correlation_cols = ['price_numeric', 'page_count', 'avg_rating', 'review_count', 'price_per_page']
correlation_matrix = books_with_ratings[correlation_cols].corr()
print("Correlation Matrix:")
print(correlation_matrix)

KeyError: "['price_per_page'] not in index"

In [ ]:
# Publisher performance analysis
publisher_performance = books_with_ratings.groupby('publisher').agg({
    'title': 'count',
    'avg_rating': 'mean',
    'review_count': 'sum',
    'price_numeric': 'mean'
}).round(2)

publisher_performance.columns = ['books', 'avg_rating', 'total_reviews', 'avg_price']
publisher_performance = publisher_performance[publisher_performance['books'] >= 10]
publisher_performance = publisher_performance.sort_values('avg_rating', ascending=False).head(20)

print("Top 20 Publishers by Average Rating (with >=10 books):")
print(publisher_performance)

## 9. Pivot Tables & Cross-tabulations

In [55]:
# Pivot table: average price by format and price category
pivot_price = pd.pivot_table(books_with_ratings,
                              values='price_numeric',
                              index='format',
                              columns='price_category',
                              aggfunc='mean').round(2)

print("Average Price by Format and Price Category:")
print(pivot_price.head(10))

Average Price by Format and Price Category:
price_category  Budget  Mid-range  Premium  Luxury
format
Hardcover         7.97      15.25    24.36   61.55
Paperback         8.16      14.54    24.37   65.90
Unknown           8.11      14.27    25.11   95.10

/var/folders/1w/5fknmcjj7_g7sfbf2lffwy1h0000gn/T/ipykernel_68347/1855116796.py:2: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  pivot_price = pd.pivot_table(books_with_ratings,

In [56]:
# Pivot table: average rating by format and length category
pivot_rating = pd.pivot_table(books_with_ratings[books_with_ratings['review_count'] > 0],
                               values='avg_rating',
                               index='format',
                               columns='length_category',
                               aggfunc='mean').round(2)

print("Average Rating by Format and Book Length:")
print(pivot_rating.head(10))

Average Rating by Format and Book Length:
length_category  Short  Medium  Long  Very Long
format
Hardcover         4.56    4.36  4.30       4.43
Paperback         4.46    4.42  4.35       4.37
Unknown            NaN    4.28   NaN        NaN

/var/folders/1w/5fknmcjj7_g7sfbf2lffwy1h0000gn/T/ipykernel_68347/3852294590.py:2: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  pivot_rating = pd.pivot_table(books_with_ratings[books_with_ratings['review_count'] > 0],

In [ ]:
# Cross-tabulation: count of books by format and language
crosstab = pd.crosstab(books_with_ratings['format'], 
                       books_with_ratings['language'],
                       margins=True,
                       margins_name='Total')

print("Cross-tabulation: Books by Format and Language:")
print(crosstab.iloc[:10, :6])  # Show first 10 formats and 6 languages

## 10. Sorting & Ranking

In [57]:
# Sort by multiple columns
sorted_books = books_with_ratings.sort_values(['avg_rating', 'review_count'], 
                                               ascending=[False, False])
print("Books sorted by rating and review count:")
print(sorted_books[['title', 'author_name', 'avg_rating', 'review_count', 'price_numeric']].head(15))

Books sorted by rating and review count:
                                                   title  \
6867    Power Up: How Smart Women Win in the New Economy
5958   Big Truths for Young Hearts: Teaching and Lear...
16188  It Will Be OK: A story of empathy, kindness, a...
3402                   Extinction End (Extinction Cycle)
7392                              Sorry You Missed It...
11815      Merhorses and Bubbles (Zoey and Sassafras, 3)
7946   A Tooth from the Tiger's Mouth: How to Treat Y...
10     Do Your Happy Dance!: Celebrate Wonderful You ...
16352  The Dark Side of the Light Chasers: Reclaiming...
2092   Found (House of Night Other World series, Book...
299    Stepping Heavenward: One Woman's Journey to Go...
5214                                         Diggersaurs
8236                                 Refuge (Relentless)
9710        Ignatius Catholic Study Bible: New Testament
1309        The Last Kids on Earth and the Doomsday Race

                   author_name  avg_rating  review_count  price_numeric
6867           Magdalena Yeşil         5.0          48.0          13.99
5958             Bruce A. Ware         5.0          41.0          14.60
16188          Jaclyn Sinquett         5.0          41.0          12.32
3402   Nicholas Sansbury Smith         5.0          40.0          25.59
7392               Fred Hosley         5.0          40.0          17.95
11815               Asia Citro         5.0          39.0           5.99
7946                 Tom Bisio         5.0          38.0          13.99
10           Charles M. Schulz         5.0          37.0           7.99
16352              Debbie Ford         5.0          37.0          11.40
2092                P. C. Cast         5.0          36.0          10.89
299                E. Prentiss         5.0          35.0          16.28
5214            Michael Whaite         5.0          35.0          12.11
8236               Karen Lynch         5.0          35.0           5.58
9710                Scott Hahn         5.0          34.0          29.99
1309              Max Brallier         5.0          33.0           9.49

In [ ]:
# Add ranking columns
books_with_ratings['price_rank'] = books_with_ratings['price_numeric'].rank(ascending=True)
books_with_ratings['rating_rank'] = books_with_ratings['avg_rating'].rank(ascending=False, method='dense')
books_with_ratings['popularity_rank'] = books_with_ratings['review_count'].rank(ascending=False)

print("Books with rankings:")
print(books_with_ratings[['title', 'price_numeric', 'price_rank', 'avg_rating', 'rating_rank', 'review_count', 'popularity_rank']].head(10))

In [59]:
# Percentile ranking
books_with_ratings['price_percentile'] = books_with_ratings['price_numeric'].rank(pct=True) * 100
books_with_ratings['rating_percentile'] = books_with_ratings['avg_rating'].rank(pct=True) * 100

print("Books with percentile rankings:")
print(books_with_ratings[['title', 'price_numeric', 'price_percentile', 'avg_rating', 'rating_percentile']].head(10))

Books with percentile rankings:
                                               title  price_numeric  \
0  Government Bullies: How Everyday Americans are...          12.99
1                   Gordon Pope Thrillers: Books 1-3          24.69
2  Chart Sense: Common Sense Charts to Teach 3-8 ...          22.88
3                      Where the Sky Begins: A Novel           6.15
4  The Mystery of Garabandal: Fantasy or Fraud? G...          12.99
5    Ahab's Wife: Or, The Star-gazer: A Novel (P.S.)           6.78
6  Murder Spins a Tale: A Flock and Fiber Mystery...          14.00
7  Despierta el genio financiero de tus hijos / W...          17.99
8               Daylight (An Atlee Pine Thriller, 3)           7.48
9  The War of the Ember (Guardians of Ga'hoole, B...           6.99

   price_percentile  avg_rating  rating_percentile
0           44.1125        4.56            52.4025
1           85.8150        4.17            27.5025
2           83.4675        4.80            72.1950
3            4.3775        4.55            51.7000
4           44.1125        5.00            90.4700
5            5.8975        3.75            12.2450
6           50.8325        4.45            43.3725
7           72.2750        5.00            90.4700
8            9.1275        5.00            90.4700
9            7.3200        4.60            55.5525

## 11. Filtering & Querying

In [60]:
# Multiple conditions filtering
high_value_books = books_with_ratings[
    (books_with_ratings['avg_rating'] >= 4.5) &
    (books_with_ratings['review_count'] >= 50) &
    (books_with_ratings['price_numeric'] <= 20)
]

print(f"High-value books (rating>=4.5, reviews>=50, price<=20): {len(high_value_books)}")
print(high_value_books[['title', 'author_name', 'avg_rating', 'review_count', 'price_numeric']].head(10))

High-value books (rating>=4.5, reviews>=50, price<=20): 1298
                                                 title       author_name  \
54   Age of Context: Mobile, Sensors, Data and the ...       Shel Israel
72   Ember Rising (The Green Ember Series: Book 3) ...       S. D. Smith
86   Me & Patsy Kickin' Up Dust: My Friendship with...      Loretta Lynn
87           A Town Like Alice (Vintage International)       Nevil Shute
110  The Cash and Carter Family Cookbook: Recipes a...  John Carter Cash
114  SI-COLOGY 1: Tales and Wisdom from Duck Dynast...    Mark Schlabach
142  Popol Vuh: The Definitive Edition of The Mayan...    Dennis Tedlock
195  Longitude: The True Story of a Lone Genius Who...        Dava Sobel
200                                       Little Robot         Ben Hatke
210                                    The Kite Runner   Khaled Hosseini

     avg_rating  review_count  price_numeric
54         4.67          92.0          10.56
72         4.94         174.0          15.95
86         4.93          67.0          13.97
87         4.51         108.0          15.99
110        4.63          51.0          17.99
114        4.67         566.0          13.79
142        4.74          57.0          13.76
195        4.60         217.0          11.39
200        4.77          73.0          11.99
210        4.59         191.0          15.49

In [ ]:
# Using query method
budget_paperbacks = books_with_ratings.query('format == "Paperback" and price_category == "Budget" and page_count > 200')
print(f"Budget paperback books (>200 pages): {len(budget_paperbacks)}")
print(budget_paperbacks[['title', 'price_numeric', 'page_count', 'avg_rating']].head(10))

In [ ]:
# isin filtering
popular_formats = ['Paperback', 'Hardcover', 'Kindle']
popular_format_books = books_with_ratings[books_with_ratings['format'].isin(popular_formats)]

print(f"Books in popular formats: {len(popular_format_books)}")
print(popular_format_books.groupby('format')['title'].count())

In [ ]:
# String filtering
fiction_books = books_with_ratings[books_with_ratings['title'].str.contains('Novel', case=False, na=False)]
print(f"Books with 'Novel' in title: {len(fiction_books)}")
print(fiction_books[['title', 'author_name', 'avg_rating', 'price_numeric']].head(10))

## 12. Window Functions & Rolling Calculations

In [61]:
# Cumulative statistics by publisher
publisher_data = books_with_ratings.sort_values(['publisher', 'price_numeric'])
publisher_data['cumulative_books'] = publisher_data.groupby('publisher').cumcount() + 1
publisher_data['avg_price_so_far'] = publisher_data.groupby('publisher')['price_numeric'].cumsum() / publisher_data['cumulative_books']

sample_publisher = publisher_data[publisher_data['publisher'] == 'Penguin Books'].head(10)
print("Cumulative analysis for Penguin Books:")
print(sample_publisher[['title', 'price_numeric', 'cumulative_books', 'avg_price_so_far']])

Cumulative analysis for Penguin Books:
                                                   title  price_numeric  \
16867   Friends Divided: John Adams and Thomas Jefferson           5.26
8588             Fatal Remedies (Guido Brunetti, Book 8)           5.32
3391   Who Ate the First Oyster?: The Extraordinary P...           5.88
17450  But What If We're Wrong?: Thinking About the P...           5.99
7849          Fools Crow (Contemporary American Fiction)           6.30
5506   Russia Against Napoleon: The True Story of the...           6.48
15491  The Portable Dante: Revised Edition (Viking Po...           6.48
3266                        Our Kind of Traitor: A Novel           6.99
10469          Travels with Charley in Search of America           6.99
15116    Close to Home: A Novel (A DI Adam Fawley Novel)           7.26

       cumulative_books  avg_price_so_far
16867               1.0          5.260000
8588                2.0          5.290000
3391                3.0          5.486667
17450               4.0          5.612500
7849                5.0          5.750000
5506                6.0          5.871667
15491               7.0          5.958571
3266                8.0          6.087500
10469               9.0          6.187778
15116              10.0          6.295000

In [ ]:
# Rolling average by sorted price
sorted_by_price = books_with_ratings.sort_values('price_numeric').reset_index(drop=True)
sorted_by_price['rolling_avg_price'] = sorted_by_price['price_numeric'].rolling(window=100, min_periods=1).mean()
sorted_by_price['rolling_avg_rating'] = sorted_by_price['avg_rating'].rolling(window=100, min_periods=1).mean()

print("Rolling averages (100-book window):")
print(sorted_by_price[['title', 'price_numeric', 'rolling_avg_price', 'avg_rating', 'rolling_avg_rating']].tail(20))

## 13. Advanced NumPy Operations

In [62]:
# Create arrays for matrix operations
price_array = books_with_ratings['price_numeric'].values[:100]
rating_array = books_with_ratings['avg_rating'].values[:100]
page_array = books_with_ratings['page_count'].values[:100]

# Stack arrays
data_matrix = np.column_stack([price_array, rating_array, page_array])
print(f"Data matrix shape: {data_matrix.shape}")
print(f"First 5 rows:\n{data_matrix[:5]}")

# Matrix operations
means = np.mean(data_matrix, axis=0)
stds = np.std(data_matrix, axis=0)
print(f"\nColumn means: {means}")
print(f"Column standard deviations: {stds}")

Data matrix shape: (100, 3)
First 5 rows:
[[ 12.99   4.56 320.  ]
 [ 24.69   4.17 694.  ]
 [ 22.88   4.8  182.  ]
 [  6.15   4.55 399.  ]
 [ 12.99   5.   299.  ]]

Column means: [ 16.5118   4.3952 334.7   ]
Column standard deviations: [ 10.01521247   0.68769685 143.41816482]

In [63]:
# Normalize data using NumPy (Z-score normalization)
normalized_data = (data_matrix - means) / stds
print("Normalized data statistics:")
print(f"Means after normalization: {np.mean(normalized_data, axis=0)}")
print(f"Stds after normalization: {np.std(normalized_data, axis=0)}")

# Min-max normalization
min_vals = np.min(data_matrix, axis=0)
max_vals = np.max(data_matrix, axis=0)
minmax_normalized = (data_matrix - min_vals) / (max_vals - min_vals)
print(f"\nMin-max normalized range: [{np.min(minmax_normalized):.2f}, {np.max(minmax_normalized):.2f}]")

Normalized data statistics:
Means after normalization: [-1.27398092e-16  1.29229960e-15  1.95954364e-16]
Stds after normalization: [1. 1. 1.]

Min-max normalized range: [0.00, 1.00]

In [64]:
# Boolean indexing with NumPy
price_values = books_with_ratings['price_numeric'].values
rating_values = books_with_ratings['avg_rating'].values

# Find books that are both cheap and highly rated
cheap_mask = price_values < 15
highly_rated_mask = rating_values > 4.0
both_conditions = cheap_mask & highly_rated_mask

print(f"Cheap books: {np.sum(cheap_mask)}")
print(f"Highly rated books: {np.sum(highly_rated_mask)}")
print(f"Cheap AND highly rated: {np.sum(both_conditions)}")
print(f"Percentage: {np.sum(both_conditions) / len(price_values) * 100:.2f}%")

Cheap books: 11721
Highly rated books: 15397
Cheap AND highly rated: 8960
Percentage: 44.80%

In [65]:
# Array reshaping and aggregations
prices_2d = price_values[:1000].reshape(10, 100)  # Reshape to 10x100
print(f"Reshaped array shape: {prices_2d.shape}")
print(f"Average price per row: {np.mean(prices_2d, axis=1)}")
print(f"Max price per column (first 10): {np.max(prices_2d, axis=0)[:10]}")

Reshaped array shape: (10, 100)
Average price per row: [16.5118 27.5936 16.2227 19.2466 15.7958 19.2466 18.1948 16.6445 16.4176
 20.3871]
Max price per column (first 10): [20.19 24.69 22.88 29.13 26.5  38.58 41.25 45.4  19.86 24.99]

## 14. Data Quality Report

In [127]:
# Comprehensive data quality report
print("="*60)
print("DATA QUALITY REPORT")
print("="*60)

print("\n1. DATASET SIZES")
print(f"   Metadata records: {len(metadata_clean):,}")
print(f"   Reviews records: {len(reviews_clean):,}")
print(f"   Merged dataset: {len(books_with_ratings):,}")

print("\n2. COMPLETENESS")
completeness = (1 - metadata_clean.isnull().sum() / len(metadata_clean)) * 100
print(f"   Average completeness: {completeness.mean():.1f}%")
print(f"   Most complete column: {completeness.idxmax()} ({completeness.max():.1f}%)")
print(f"   Least complete column: {completeness.idxmin()} ({completeness.min():.1f}%)")

print("\n3. UNIQUE VALUES")
print(f"   Unique books (parent_asin): {metadata_clean['parent_asin'].nunique():,}")
print(f"   Unique authors: {metadata_clean['author_name'].nunique():,}")
print(f"   Unique publishers: {metadata_clean['publisher'].nunique():,}")
print(f"   Unique languages: {metadata_clean['language'].nunique()}")

print("\n4. REVIEW COVERAGE")
books_with_reviews_count = books_with_ratings[books_with_ratings['review_count'] > 0].shape[0]
print(f"   Books with reviews: {books_with_reviews_count:,} ({books_with_reviews_count/len(books_with_ratings)*100:.1f}%)")
print(f"   Books without reviews: {len(books_with_ratings) - books_with_reviews_count:,}")
print(f"   Average reviews per book: {books_with_ratings['review_count'].mean():.1f}")

print("\n" + "="*60)

============================================================
DATA QUALITY REPORT
============================================================

1. DATASET SIZES
   Metadata records: 20,000
   Reviews records: 720,016
   Merged dataset: 20,000

2. COMPLETENESS
   Average completeness: 98.7%
   Most complete column: title (100.0%)
   Least complete column: isbn_10 (90.7%)

3. UNIQUE VALUES
   Unique books (parent_asin): 20,000
   Unique authors: 12,877
   Unique publishers: 3,666
   Unique languages: 22

4. REVIEW COVERAGE
   Books with reviews: 19,991 (100.0%)
   Books without reviews: 9
   Average reviews per book: 36.0

============================================================

## 15. Final Summary Statistics

In [67]:
# Key insights summary
print("KEY INSIGHTS FROM EDA")
print("="*60)

print("\n📊 PRICING")
print(f"   Average book price: ${books_with_ratings['price_numeric'].mean():.2f}")
print(f"   Median book price: ${books_with_ratings['price_numeric'].median():.2f}")
print(f"   Price range: ${books_with_ratings['price_numeric'].min():.2f} - ${books_with_ratings['price_numeric'].max():.2f}")

print("\n⭐ RATINGS")
rated_books = books_with_ratings[books_with_ratings['avg_rating'] > 0]
print(f"   Average rating: {rated_books['avg_rating'].mean():.2f}/5.0")
print(f"   Books with 5-star avg: {len(rated_books[rated_books['avg_rating'] == 5.0]):,}")
print(f"   Books with <3-star avg: {len(rated_books[rated_books['avg_rating'] < 3.0]):,}")

print("\n📖 BOOK CHARACTERISTICS")
print(f"   Average page count: {books_with_ratings['page_count'].mean():.0f} pages")
print(f"   Most common format: {books_with_ratings['format'].mode()[0]}")
print(f"   Most common language: {books_with_ratings['language'].mode()[0]}")

print("\n💡 VALUE PROPOSITIONS")
value_books = books_with_ratings[(books_with_ratings['avg_rating'] >= 4.0) & 
                                 (books_with_ratings['price_numeric'] < 15) &
                                 (books_with_ratings['review_count'] >= 20)]
print(f"   High-value books (4+ stars, <$15, 20+ reviews): {len(value_books):,}")

print("\n" + "="*60)

KEY INSIGHTS FROM EDA
============================================================

📊 PRICING
   Average book price: $18.78
   Median book price: $13.99
   Price range: $5.01 - $11568.31

⭐ RATINGS
   Average rating: 4.38/5.0
   Books with 5-star avg: 3,813
   Books with <3-star avg: 596

📖 BOOK CHARACTERISTICS
   Average page count: 327 pages
   Most common format: Paperback
   Most common language: English

💡 VALUE PROPOSITIONS
   High-value books (4+ stars, <$15, 20+ reviews): 3,774

============================================================

In [68]:
# Display final cleaned and merged dataset
print("Final merged dataset info:")
print(f"Shape: {books_with_ratings.shape}")
print(f"\nColumn names:")
print(books_with_ratings.columns.tolist())
print(f"\nSample of final dataset:")
books_with_ratings[['title', 'author_name', 'publisher', 'price_numeric', 
                    'page_count', 'format', 'avg_rating', 'review_count']].head(10)

Final merged dataset info:
Shape: (20000, 39)

Column names:
['title', 'subtitle', 'author_name', 'author_about', 'publisher', 'publisher_date', 'format', 'page_count', 'language', 'isbn_10', 'isbn_13', 'main_category', 'category_level_1_main', 'category_level_2_sub', 'category_level_3_detail', 'average_rating', 'rating_number', 'price', 'price_numeric', 'description', 'features_text', 'dimensions', 'item_weight', 'images', 'videos', 'store', 'parent_asin', 'price_clean', 'price_category', 'length_category', 'title_length', 'has_subtitle', 'avg_rating', 'review_count', 'rating_std', 'total_helpful_votes', 'verified_purchases', 'price_percentile', 'rating_percentile']

Sample of final dataset:

,title,author_name,publisher,price_numeric,page_count,format,avg_rating,review_count
0,Government Bullies: How Everyday Americans are...,Rand Paul,Center Street,12.99,320.0,Paperback,4.56,9.0
1,Gordon Pope Thrillers: Books 1-3,B. B. Griffith,Griffith Publishing LLC,24.69,694.0,Paperback,4.17,6.0
2,Chart Sense: Common Sense Charts to Teach 3-8 ...,Rozlyn Linder,"Literacy Initiative, The",22.88,182.0,Paperback,4.80,66.0
3,Where the Sky Begins: A Novel,Rhys Bowen,Lake Union Publishing,6.15,399.0,Paperback,4.55,31.0
4,The Mystery of Garabandal: Fantasy or Fraud? G...,LR Walker,Newtonia Publishing LLC,12.99,299.0,Paperback,5.00,2.0
5,"Ahab's Wife: Or, The Star-gazer: A Novel (P.S.)",Sena Jeter Naslund,William Morrow Paperbacks,6.78,668.0,Paperback,3.75,20.0
6,Murder Spins a Tale: A Flock and Fiber Mystery...,Veryl Ann Grace,CreateSpace Independent Publishing Platform,14.00,272.0,Paperback,4.45,20.0
7,Despierta el genio financiero de tus hijos / W...,Robert T. Kiyosaki,Aguilar,17.99,480.0,Paperback,5.00,3.0
8,"Daylight (An Atlee Pine Thriller, 3)",David Baldacci,Grand Central Publishing,7.48,312.0,Unknown,5.00,2.0
9,"The War of the Ember (Guardians of Ga'hoole, B...",Kathryn Lasky,Scholastic,6.99,256.0,Paperback,4.60,40.0

NameError: name 'df' is not defined